.placeholderMessage {
    display: flex;
    justify-content: center;
    font-weight: 900;
    font-size: xx-large;
    margin: 0.5em;
}

h1 {
    margin-left: 1em;
}

.date {
    color: gray;
}

.review {
    margin: 2em;
}
.buttons {
    display: flex;
    justify-content: flex-start;
    height: 2em;
}