.wholeModal {
    height: 9em;
    width: 25em;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
    display: flex;
    justify-content: center;
}

.yesButton {
    margin: 1em;
    padding: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    background-color: red;
    color: black;
    /* height: 1em; */
}
.yesButton:hover {
    background-color: darkred;
    color: black;
    cursor: pointer;
}

.noButton {
    margin: 1em;
    padding: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    background-color: gray;
    color: white;
}
.noButton:hover {
    background-color: darkgrey;
    color: black;
    cursor: pointer;
}