.signup-allForm {
    display: flex;
    flex-direction: column;
    width: 20em;
}

.signup-allForm h1 {
    display: flex;
    justify-content: center;
    margin-right: 1em;
}

.signup-allForm input {
    background-color: lightblue;
    height: 2em;
}

.input-container {
    display: flex;
    flex-direction: column;
}

.signup-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 1em;
    padding-right: 1em;
}

.signup-button {
    margin: 1em;
    padding: 1em;
    background-color: red;
    color: white;
}
.signup-button:hover {
    background-color: darkred;
    color: black;
    cursor: pointer;
}
.signup-button:disabled {
    background-color: white;
    color: gray;
    cursor: default;
}