.spotName {
    display: flex;
    justify-content: center;
}

.spotLocation {
    display: flex;
    justify-content: center;
}

.image {
    display: flex;
    justify-content: center;
    /* margin-right: 0%; */
}

.calloutInfoBoxParent {
    border: 3px solid purple;
    display: flex;
    justify-content: flex-end;
}

.calloutInfoBox {
    border: 3px solid red;
    width: 300px;
    /* display: flex;
    justify-content: space-between; */
}

.priceRatingParent {
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
}