.nameLocationParent {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-start;
}


.aboveReviews {
  /* border: 3px solid red; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  overflow-x: hidden;
}
/* Styles for name and location */
   .spotName { 
     font-size: 2rem; 
     font-weight: bold; 
  } 

  
  /* Styles for image */
  .imageParent {
    display: flex;
    width: 100%;
    /* justify-content: center; */
    align-items: center;
    /* justify-content: center; */
    /* margin-bottom: 2rem; */
  }
  .image {
    width: 100%;
  }
  .image img {
    object-fit: cover;
    width: 100%;
  }
  
  /* Styles for host and description */
  .hostDescCallout {
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    justify-content: space-around;
    margin: 2rem;
    padding: 2rem;
  }
  .hostAndDesc {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin-bottom: 2rem;
  }
  .spotOwner h1 {
    font-size: bold;
    margin-bottom: 10px;
  }
  .spotDescription h4 {
    font-size: large;
    /* text-align: center; */
  }
  .reviewButton {
    padding-bottom: 3px;
  }
  
  /* Styles for callout information */
  .calloutInfoBoxParent {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    margin-right: 600px;
  }

  .reviewCountParent {
    margin-left: 20px;
  }

  .calloutInfoBox {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    padding: 40px;
    border: 1px solid lightgrey;
    border-radius: 5px;
  }
  .priceRatingParent {
    display: flex;
    /* justify-content: space-between; */
    width: 100%;
    margin-bottom: 20px;
  }
  .price {
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 40px;
    border: none;
  }
  .rating {
    font-size: 1.2rem;
  }
  .reserveButton {
    padding: 0.5rem 1rem;
    background-color: red;
    color: #fff;

    font-size: 1rem;
  }
  .reserveButton:hover {
    background-color: darkred;
    cursor: pointer;
  }
  
  /* Styles for reviews */
  .reviews {
    border-top: 2px solid black;

  }
  .reviews li {
    list-style: none;
    margin-bottom: 15px;
  }

  .name {
    font-weight: bold;
  }
  .deleteReview {
    padding: 0.5rem 1rem;
    background-color: gray;
    color: white;
    border: none;
    box-shadow: 2px 2px 2px black;
    font-size: large;
  }
  .deleteReview:hover {
    background-color: darkgray;
    cursor: pointer;
  }

  .dot {
    margin-left: 1.5em;
  }