.wholeBooking {
    display: flex;
    /* padding-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem; */
    padding: 2rem;
    /* padding-right: none; */
    justify-content: center;
}

.preview {
    width: 8rem;
    padding-right: 0.5rem;
}

.bookingInfo {
    display: flex;
    flex-direction: column;
}

h1 {
    display: flex;
    justify-content: center;
}

.bookingInfoButtons {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}
.bookingInfoEditButton {
    margin-left: 0.1rem;
    margin-top: 0.5rem;
    width: 5rem;
    height: 2.5rem;
    background-color: red;
    color: white;
    font-weight: bolder;
    font-size: medium;
    /* box-shadow: 2px 2px 1px #c7c1c1; */
    box-shadow: 2px 2px 3px grey;
}
.bookingInfoEditButton:hover {
    background-color: darkred;
    cursor: pointer;
}